dill==0.4.1
hypothesis==6.155.7
iniconfig==2.3.0
numpy==2.4.6
pluggy==1.6.0
psutil==7.2.2
pygments==2.20.0
pytest==9.1.1
pyyaml==6.0.1
qiskit==2.4.2
qiskit-aer==0.17.2
ruff==0.15.20
rustworkx==0.18.0
scipy==1.17.1
sortedcontainers==2.4.0
stevedore==5.8.0
typing_extensions==4.15.0
